.search-submit {
  line-height: 30px;
	height: 32px;
	display: block;
	background-color: #5AADEC;
  border: none;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
	border-radius: 0 5px 5px 0;
  width: 100%;
  max-width: 40%;
	float: left;
  cursor: pointer;
}
